table, th {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 15px;
}

.new-book-button {
    width: 100px;
}

table {
    width: 750px;
}

.login-popup {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.form-popup {
    display: none;
    border: 3px solid #999999;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: white;
}

.submit-buttons {
    display: flex;
    justify-content: center;
}

.submit-button, .close-button {
    width: 75px;
}