table, th, td {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 15px;
}

table {
    width: 100%;
}

* {
box-sizing: border-box;
}

.loginPopup {
position: relative;
text-align: center;
width: 100%;
}

.formPopup {
display: flex;
border: 3px solid #999999;
max-width: 300px;
}

.formContainer {
max-width: 300px;
padding: 20px;
background-color: white;
}